$video-thumb-bg: transparent !default;
$video-play-icon-width: 13% !default;
$video-play-icon-max-width: 80px !default;
$video-play-icon-position: center !default;
$video-play-circle-color: rgba($sd-primary, 0.8) !default;
$video-play-circle-color-hover: rgba(white, 0.8) !default;
$video-play-circle-box-shadow: 0 14px 40px 0 rgba(black, 0.5) !default;
$video-play-arrow-color: white !default;
$video-play-arrow-rounded: true !default;
$video-play-arrow-color-hover: $sd-primary !default;
$video-thumb-hover-opacity: 0.9 !default;
$video-thumb-hover-filter: blur(0.5px) !default;
