$rm-content-margin-mobile: 0 0 10px !default;
$rm-content-margin-desktop: $rm-content-margin-mobile !default;

$rm-button-display: block !default;
$rm-button-font-weight: 400 !default;
$rm-button-font-size-mobile: 16px !default;
$rm-button-font-size-desktop: 18px !default;
$rm-button-outline: inherit !default;
$rm-button-bg: transparent !default;
$rm-button-border: none !default;
$rm-button-color: #000 !default;
$rm-button-text-decoration: none !default;
$rm-button-padding-mobile: 0 !default;
$rm-button-padding-desktop: 0 !default;
$rm-button-margin-mobile: 0 !default;
$rm-button-margin-desktop: 10px 0 0 !default;
$rm-button-text-transform: none !default;
$rm-button-icon-margin-left: 10px !default;
$rm-button-icon-width: 1.25em !default;
$rm-button-icon-height: $rm-button-icon-width !default;
