$content-slider-vertical-center: true !default;
$owl-dot-width: 10px !default;
$owl-dot-height: 10px !default;
$owl-dot-padding: 10px 5px !default;
$owl-dot-rounded: 20px !default;
$owl-dot-background: black !default;
$owl-dot-background-active: mix(black, white, 80%) !default;
$owl-dot-background-hover: $owl-dot-background-active !default;
