$si-display: block !default;
$si-alignment: center !default;
$si-list-padding: 0 !default;
$si-list-margin: 0 !default;
$si-list-item-margin: 0 5px !default;
$si-list-item-color: #000 !default;
$si-icon-svg-size: 1.25rem !default;
$si-link-color: inherit !default;
