$cc-background: #fff !default;
$cc-padding-mobile: 0 0 10px !default;
$cc-padding: 0 0 40px !default;
$cc-column-gutter-width: 10px !default;

$cc-headline-color: #000 !default;
$cc-headline-padding-mobile: 10px !default;
$cc-headline-padding: 10px !default;

$cc-tips-padding: 10px !default;
$cc-tips-margin: 0 0 10px 0 !default;
$cc-ticketing-tips-background: #fff !default;
$cc-ticketing-tips-margin: 0 !default;
$cc-additional-tips-background: #fff !default;

$cc-cb-padding: 10px !default;
$cc-cb-margin: 0 !default;
$cc-cb-align: center !default;
$cc-cb-headline-font-size: 25px !default;
$cc-cb-headline-color: #000 !default;
$cc-cb-headline-margin: 0 !default;
$cc-cb-content-color: #000 !default;
$cc-cb-content-margin: 0 !default;
